*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #F3EAE3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    min-height: 350px;
    width: 600px;
    background-color: #FFFFFF;
    display: flex;
    border-radius: 10px;
}
.img-section{
    width: 50%;
}
.img-section img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.container .main-container .perfume{
    font-family:"Montserrat", sans-serif;
    letter-spacing: 5px;
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 15px;
    font-size: 10px;
    color: hsl(228, 12%, 48%);
    display: block;
}
.container .main-container .st{
    font-family: "Fraunces", serif;
    font-weight: 700;
    margin-left: 20px;
    font-size: 35px;
    color: hsl(212, 21%, 14%);
}
/* detailes shuru */
.container .main-container .detailes{
    font-family:"Montserrat", sans-serif;
    font-weight: 500, 700;
    color: hsl(228, 12%, 48%);
    margin-left: 20px;
    margin-top: 20px;
    font-size: 14px;
}
.container .main-container .prize{
    font-family: "Fraunces", serif;
    font-weight: 700;
    color: #388468;
    font-size: 40px;
    margin-top: 25px;
}
.container .main-container .prize sup{
    color: hsl(228, 12%, 48%);
    font-family:sans-serif;
    font-weight: normal;
    font-size: 15px;
}
/* detailes sesh */

/* button shuru */
.container .main-container .btn{
    width: 110%;
    margin-top: 25px;
    background-color: hsl(158, 42%, 18%);
    padding: 15px 15px;
    border: none;
    border-radius: 8px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}
/* button sesh */